.btn{
    background-color: pink;
    border-radius: 5px;
    border:1px solid black;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.ready{
    background-color: cornflowerblue;
}

.now{
    background-color: cyan;
}

.game{
    background-color: rgb(217, 214, 255);
}